<!DOCTYPE html>
<html lang="en">
<head>
    <style>
   lg {
    font-size: 110%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    padding-left: 15px;
   }


    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Главная страница</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/img/logo.png" alt="" width="30" height="30"
                     class="d-inline-block align-text-top">
                <lg>Kupi.ru</lg>
                <a>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Поиск по магазину"
                               aria-label="Поиск">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </a>
            </a>

        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>