{% extends "base.html" %}
{% block content %}
<h1>Ваша корзина</h1>
{% if current_user.is_authenticated %}
<div class="ll">
<h4 class="ll" align="center">Товаров в корзине на сумму - {{summ}} рублей</h4>
    <a class="btn btn-outline-success" href="/pay">Оплатить выбранное</a>
</div>
<script type="text/javascript">
function fun1(name, ls) {
var chbox;
chbox=document.getElementById(name);
	if (chbox.checked) {
		alert(ls);
	}
	else {
		alert(name);
	}
}


</script>

{% if ords %}
{% for item in goods %}
{% if item.id in ords %}
<div class="col-md6 border rounded">
    <h4>
        <input class="ll" align="left" type="checkbox" id="{{item.id}}" onchange="fun1(id, {{ords}})" checked>

        <a href="/product/{{ item.id }}">{{item.title}}</a> - {{item.cost}} руб.
    </h4>
    <ul>
        <a href="/">
            <img src={{item.image}} width="100" height="100"
                 class="d-inline-block align-text-top">
            {% endif %}
        </a>
    </ul>
</div>
{% endfor %}
{% else %}
<a>Ваша корзина пуста</a>

{% endif %}
{% else %}
<a>Чтобы увидеть товары в корзине, нужно авторизироваться</a>
{% endif %}

{% endblock %}
