{% extends "base.html" %}
{% block content %}
<h1>Ваша корзина</h1>
{% if current_user.is_authenticated %}
        {% if current_user.orders_id %}
            {% for item in goods %}
                {% if item.id == current_user.orders_id %}
            <div class="col-md6 border rounded">
                <h4>{{item.title}} - {{item.cost}} руб.</h4>
            <ul>
            <a class="" href="/">
            <img src={{item.image}} width="100" height="100"
                 class="d-inline-block align-text-top">
                {% endif %}
                </a>
            </ul>
            </div>
            {% endfor %}
        {% else %}
            <a>Ваша корзина пуста</a>

        {% endif %}
{% else %}
    <a>Чтобы увидеть товары в корзине, нужно авторизироваться</a>
{% endif %}

{% endblock %}
