{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
function fun1(name, lst) {
var chbox;
chbox=document.getElementById(name);
	if (chbox.checked) {
		alert('Выбран избр');
	}
	else {
		alert(name);
	}
}



</script>

<script type="text/javascript">
function fun2(name) {
var chbox;
chbox=document.getElementById(name);
	if (chbox.checked) {
		alert('Выбран корзина');
	}
	else {
		alert(name);

	}
}



</script>

<p align="center" style="font-size:35px">Категории</p>
<p align="center">
    {% for g in cats %}
    <a class="btn btn-outline-success" href="/categories/{{cats.index(g) + 1}}">{{g}}</a>
    {% endfor %}
</p>
<h1>Список всех товаров</h1>
{% for item in goods %}
<div class="item">
    <div class="itemin">
        <h4>
            <a href="/product/{{ item.id }}">{{item.title}}</a> - {{item.cost}} руб.
        </h4>
        {% for j in range(item.rate) %}
        <img align="center" src=/static/img/i2.png alt="" width="25" height="25"
             class="d-inline-block align-text-top">
        {% endfor %}
        {% if 5 - item.rate > 0 %}
        {% for j in range(5 - item.rate) %}
        <img align="center" src=/static/img/i.png alt="" width="25" height="25"
             class="d-inline-block align-text-top">
        {% endfor %}
        {% endif %}
        <h4 class="tx">{{item.category}}</h4>
    </div>
    <div>
        <img src={{item.image}} alt="" width="170" height="150"
             class="d-inline-block align-text-top">
        <div class="chitem" align="center">
            {% if item.id in favs %}
            <input type="checkbox" id="{{item.id}}" onclick="{{favs.remove(item.id)}}" onchange="fun1(id)" checked>
            <label>В избранном</label>
            {% else %}
            <input type="checkbox" id="{{item.id}}" onclick="{{favs.append(item.id)}}" onchange="fun1(id)">
            <label>В избранном</label>
            {% endif %}
            {% if item.id in ords %}
            <input type="checkbox" id="0{{item.id}}" onchange="fun2(id)" checked>
            <label>В корзине</label>
            {% else %}
            <input type="checkbox" id="0{{item.id}}" onchange="fun2(id)">
            <label>В корзине</label>
            {% endif %}
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}
