{% extends "base.html" %}

{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
    function func(id, type){
    $.ajax({
        url : "func_run", // the endpoint
        type : "GET", // http method
        data : { par_1 : id,
                 par_2 : document.getElementById(id).checked,
                 par_3 : type }, // data sent with the request
        // for successful response
        success : function(json) {
            console.log("success"); // another sanity check
            },

        // for non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide info about the error to the console
            }
    });
};




</script>

<p align="center" style="font-size:35px">Категории</p>
<p align="center">
    {% for g in cats %}
    <a class="btn btn-outline-success" href="/categories/{{cats.index(g) + 1}}">{{g}}</a>
    {% endfor %}
</p>

<h1>Список всех товаров</h1>

{% for item in goods %}

<div class="row item">

    <div class="col-3 itemin">
        <img src={{item.image}} alt="" width="150" height="150"
             class="d-inline-block align-text-top">
    </div>
    <div class="col itemin">
        <h4>
            <a href="/product/{{ item.id }}">{{item.title}}</a> - {{item.cost}} руб.
        </h4>
        {% for j in range(item.rate) %}
        <img align="center" src=/static/img/i2.png alt="" width="25" height="25"
             class="d-inline-block align-text-top">
        {% endfor %}
        {% if 5 - item.rate > 0 %}
        {% for j in range(5 - item.rate) %}
        <img align="center" src=/static/img/i.png alt="" width="25" height="25"
             class="d-inline-block align-text-top">
        {% endfor %}
        {% endif %}
        <h4 class="tx">{{item.category}}</h4>

        <div class="checks" align="right">
            <div>
                <div class="form-check form-check-inline">
                    {% if item.id in favs %}
                    <input type="checkbox" class="btn-check" id="{{item.id}}" onchange="func(id, 1)"
                           checked>
                    <label class="btn btn-outline-success" for="{{item.id}}">В избранное</label>
                    {% else %}
                    <input type="checkbox" class="btn-check" id="{{item.id}}" onchange="func(id, 1)">
                    <label class="btn btn-outline-success" for="{{item.id}}">В избранное</label>
                    {% endif %}

                    {% if item.id in ords %}
                    <input type="checkbox" class="btn-check" id="{{item.id + 6}}" onchange="func(id, 2)"
                           checked>
                    <label class="btn btn-outline-success" for="{{item.id + 6}}">В корзину</label>
                    {% else %}
                    <input type="checkbox" class="btn-check" id="{{item.id + 6}}" onchange="func(id, 2)">
                    <label class="btn btn-outline-success" for="{{item.id + 6}}">В корзину</label>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endfor %}

{% endblock %}
