{% extends "base.html" %}
{% block content %}
<h1>Оплата товаров из корзины</h1>
{% if current_user.is_authenticated %}
{% if ords %}
<h4>Вы должны оплатить товары на сумму - {{summ}} рублей</h4>

<div class="pay">
    <form class="d-flex" method="post" novalidate>
        {{ form3.hidden_tag() }}
        {{ form3.tttle.label }}<br>
        {{ form3.tttle(class="form-control me-2") }}<br>
        {% for error in form3.tttle.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        {{ form3.submit2(type="submit", class="btn
        btn-outline-success") }}
    </form>
</div>
{% for item in goods %}
{% if item.id in ords %}
<div class="row item">

    <div class="col-3 itemin">
        <img src={{item.image}} alt="" width="150" height="150"
             class="d-inline-block align-text-top">
    </div>
    <div class="col itemin">
        <h4>
            <a class="prod_url" href="/product/{{ item.id }}">{{item.title}}</a> - {{item.cost}} руб.
        </h4>
        <h4 class="tx">{{item.category}}</h4>

    </div>

</div>
{% endif %}
{% endfor %}
{% else %}
<a>Ваша корзина пуста, оплачивать нечего</a>

{% endif %}
{% else %}
<a>Чтобы увидеть товары для оплаты, нужно авторизироваться</a>
{% endif %}

{% endblock %}
