{% extends "base.html" %}
{% block content %}

{% for item in goods %}
{% if item.id == i_id %}
<div class="col-md6 border rounded">
    <p>
    <h4><a href="/product/{{ item.id }}">{{item.title}}</a> - {{item.cost}} руб.
    {% for j in range(item.rate) %}
        <img align="center" src=/static/img/i2.png alt="" width="25" height="25"
             class="d-inline-block align-text-top">
    {% endfor %}
    {% if 5 - item.rate > 0 %}
    {% for j in range(5 - item.rate) %}
        <img align="center" src=/static/img/i.png alt="" width="25" height="25"
             class="d-inline-block align-text-top">
        {% endfor %}
    {% endif %}
    </h4>
    <tx>{{item.category}}</tx>
    </p>
    <a>
        <img src={{item.image}} alt="" width="400" height="400"
             class="d-inline-block align-text-top">
        <ul>
            <h6>{{item.description}}</h6>
        </ul>

    </a>
</div>

{% endif %}
{% endfor %}


{% endblock %}
