{% extends "base.html" %}
{% block content %}

{% for item in goods %}
{% if item.id == i_id %}
<div class="item">
    <p>
    <h4><a href="/product/{{ item.id }}">{{item.title}}</a> - {{item.cost}} руб.
        {% for j in range(item.rate) %}
        <img align="center" src=/static/img/i2.png alt="" width="25" height="25"
             class="d-inline-block align-text-top">
        {% endfor %}
        {% if 5 - item.rate > 0 %}
        {% for j in range(5 - item.rate) %}
        <img align="center" src=/static/img/i.png alt="" width="25" height="25"
             class="d-inline-block align-text-top">
        {% endfor %}
        {% endif %}
    </h4>
    <h4 class="tx">{{item.category}}</h4>
    </p>
    </div>
<div class="col-md6 border rounded">
    <a>
        <img align="left" src={{item.image}} alt="" width="400" height="370">
        <ul>
            <h6 align="right">{{item.description}}</h6>
        </ul>
    </a>
</div>
{% endif %}
{% endfor %}


{% endblock %}
