{% extends "base.html" %}
{% block content %}

{% for item in goods %}
{% if item.id == i_id %}
<div class="item">
    <p>
    <h4><a href="/product/{{ item.id }}">{{item.title}}</a> - {{item.cost}} руб.
        {% for j in range(item.rate) %}
        <img align="center" src=/static/img/i2.png alt="" width="25" height="25"
             class="d-inline-block align-text-top">
        {% endfor %}
        {% if 5 - item.rate > 0 %}
        {% for j in range(5 - item.rate) %}
        <img align="center" src=/static/img/i.png alt="" width="25" height="25"
             class="d-inline-block align-text-top">
        {% endfor %}
        {% endif %}
    </h4>
    <h4 class="tx">{{item.category}}</h4>
    </p>
</div>

<div class="row item">

    <div class="col-5 itemin">
        <img align="left" src={{item.image}} alt="" width="400" height="370">
    </div>
    <div class="col itemin">
        <h6 align="right">{{item.description}}</h6>
        <div class="checks" align="right">
            <div>
                <div class="form-check form-check-inline">
                    {% if item.id in favs %}
                    <input type="checkbox" class="btn-check" id="{{item.id}}" onchange="func(id, 1)"
                           checked>
                    <label class="btn btn-outline-success" for="{{item.id}}">В избранное</label>
                    {% else %}
                    <input type="checkbox" class="btn-check" id="{{item.id}}" onchange="func(id, 1)">
                    <label class="btn btn-outline-success" for="{{item.id}}">В избранное</label>
                    {% endif %}

                    {% if item.id in ords %}
                    <input type="checkbox" class="btn-check" id="{{item.id + 6}}" onchange="func(id, 2)"
                           checked>
                    <label class="btn btn-outline-success" for="{{item.id + 6}}">В корзину</label>
                    {% else %}
                    <input type="checkbox" class="btn-check" id="{{item.id + 6}}" onchange="func(id, 2)">
                    <label class="btn btn-outline-success" for="{{item.id + 6}}">В корзину</label>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}


{% endblock %}
